<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>933085787033-46scn1u64id1u5q39gdjbjfiacs5328j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933085787033-46scn1u64id1u5q39gdjbjfiacs5328j</string>
	<key>API_KEY</key>
	<string>AIzaSyABvoy4a7oYRZSWuwYe_aP6DFnK440i2uM</string>
	<key>GCM_SENDER_ID</key>
	<string>933085787033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.benpatterson.alcCalc</string>
	<key>PROJECT_ID</key>
	<string>alccalc-78519</string>
	<key>STORAGE_BUCKET</key>
	<string>alccalc-78519.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933085787033:ios:d0c30c4d5bb4f639</string>
	<key>DATABASE_URL</key>
	<string>https://alccalc-78519.firebaseio.com</string>
</dict>
</plist>